<div class="ui form" style="width:90%; margin: auto;" ng-class="{loading: loadingData}">
    <!-- Basic error info -->
    <div class="three fields">
        <div class="field" style="width: 10%;">
            <div class="ui large label" style="margin-right: 10px;">
                ID:
            </div>
            {{error.id}}
        </div>
        <div class="field" style="width: 15%;">
            <div class="ui large label" style="margin-right: 10px;">
                Task ID:
            </div>
            {{error.taskId}}
        </div>
        <div class="field" style="width: 55%;">
            <div class="ui large label" style="margin-right: 10px;">
                Message:
            </div>
            {{error.message}}
        </div>
        <div class="field" style="width: 20%;">
            <div class="ui large label" style="margin-right: 10px;">
                Time:
            </div>
            {{error.time}}
        </div>
    </div>
    <div class="field">
        <div class="field" style="width: 20%;">
            <div class="ui large label" style="margin-right: 10px;">
                Input:
            </div>
            {{error.input}}
        </div>
    </div>
    <div class="ui divider"></div>
    <!-- Error view -->
    <div id="display-error"></div>
</div>
