<link rel="stylesheet" type="text/css" href="css/errors_id.css" />
<div class="ui form" style="width:90%; margin: auto;" ng-class="{loading: loadingData}">
    <!-- Basic error info -->
    <h3 style="margin-top: 0px;"> Basic Info </h3>
    <div class="ui divider"></div>
    <div class="three fields">
        <div class="field" style="width: 10%;">
            <div class="ui large label" style="margin-right: 10px;">
                ID:
            </div>
            {{error.id}}
        </div>
        <div class="field" style="width: 15%;">
            <div class="ui large label" style="margin-right: 10px;">
                Task ID:
            </div>
            <a ng-href="/tasks/{{error.taskId}}">{{error.taskId}}</a>
        </div>
        <div class="field" style="width: 55%;">
            <div class="ui large label" style="margin-right: 10px;">
                Message:
            </div>
            {{error.message}}
        </div>
        <div class="field" style="width: 20%;">
            <div class="ui large label" style="margin-right: 10px;">
                Time:
            </div>
            {{error.time}}
        </div>
    </div>
    <div class="field">
        <div class="ui large label" style="margin-right: 10px;">
            Input:
        </div>
        {{error.input}}
    </div>
    <!-- Error view -->
    <h3 style="margin-top: 0px;"> Error Output </h3>
    <div class="ui divider"></div>
    <div id="error-output"></div>
    <h3 style="margin-top: 10px;" ng-show="error.header != null"> Error Header </h3>
    <div class="ui divider" ng-show="error.header != null"></div>
    <div id="error-header"></div>
</div>
