<table class="ui celled table">
    <thead>
        <tr>
            <th>
                <div class="ui input transparent fluid">
                    <input type="text" placeholder="Name" ng-model="filter.name">
                </div>
            </th>
            <th>
                <div class="ui input transparent fluid">
                    <input type="text" placeholder="Creator" ng-model="filter.creator">
                </div>
            </th>
            <th>Time</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="t in tags | filter: filter">
            <td style="width: 33%">
                <div class="ui icon input transparent fluid">
                    <input type="text" ng-model="t.name" ng-disabled="!t.edit" edit-focus="t.edit">
                    <span>
                    	<i class="edit icon link" ng-click="editName($event, t)" ng-hide="t.edit"></i>
                    	<i class="check square icon link blue" ng-click="saveName($event, t)" ng-show="t.edit"></i>
                    	<i class="minus square icon link red" ng-click="resetName($event, t)" ng-show="t.edit"></i>
                    </span>

                </div>
            </td>
            <td>{{t.creator}}</td>
            <td>{{t.time}}</td>
        </tr>
    </tbody>
</table>
