<!-- Search filter -->
<div class="ui form" style="width: 80%; margin: auto;">
    <div class="fields">
        <div class="field" style="width: 20%;">
            <div class="ui labeled input icon">
                <div class="ui label" style="cursor: pointer;" ng-click="setCreatorAsUser()">
                    Creator:
                </div>
                <input type="text" placeholder="All" ng-model="searchData.creator">
                <i class="remove circle link icon" ng-click="clearCreator()"></i>
            </div>
        </div>
        <div class="field" style="width: 40%;">
            <div class="ui labeled input">
                <div class="ui label">
                    Tags:
                </div>
                <div class="ui search selection dropdown multiple fluid tags" ng-class="{'loading disabled': loadingTags}">
                    <input type="hidden" name="tags">
                    <i class="dropdown icon"></i>
                    <div class="default text">All</div>
                    <div class="menu">
                        <div class="item" ng-repeat="t in tags" data-value="{{t.id}}">{{t.name}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field" style="width: 20%;">
            <div class="ui labeled input">
                <div class="ui label">
                    Status:
                </div>
                <div class="ui search selection dropdown multiple fluid status">
                    <input type="hidden" name="status">
                    <i class="dropdown icon"></i>
                    <div class="default text">All</div>
                    <div class="menu">
                        <div class="item" ng-repeat="s in status" data-value="{{$index}}">{{s}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field" style="width: 20%;">
            <button class="ui primary button" style="margin-left:5px" ng-click="search()" ng-disabled="loadingTags || searchData.preparingData">
                Search
            </button>
            <button class="ui button green" ng-click="newTask()">
                New
            </button>
        </div>
    </div>
</div>
<div class="ui divider"></div>
<!-- Result table -->
<table class="ui selectable celled table" style="width: 90%; margin: auto;">
    <thead>
        <tr>
            <th style="width: 5%;">ID</th>
            <th style="width: 20%;">Creator</th>
            <th style="width: 25%;">Tag</th>
            <th style="width: 10%;">Type</th>
            <th style="width: 10%;">Errors</th>
            <th style="width: 20%;">Time</th>
            <th style="width: 10%;">Status</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="t in searchResult" ng-class="{positive: t.status == 3 && t.errorsCount == 0, negative: t.status == 3 && t.errorsCount > 0, warning: t.status == 2}" ng-show="!searchData.preparingData">
            <td>{{t.id}}</td>
            <td>{{t.creator}}</td>
            <td>{{tagsIdMap[t.tagId].name}}</td>
            <td>{{types[t.type]}}</td>
            <td>{{t.errorsCount}}</td>
            <td>{{t.time}}</td>
            <td>
                {{status[t.status]}}
                <a style="color: inherit; float: right;" ng-href="/tasks/{{t.id}}">
                    <i class="chevron right icon"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>
<!-- Loader -->
<div class="ui active centered large inline loader" style="margin-top: 100px;" ng-show="searchData.preparingData"></div>
<!-- Scripts after loading -->
<script>
$(document).ready(function($) {
    $(".ui.dropdown")
        .dropdown();
});
</script>
