<div class="ui form" style="width:90%; margin: auto;" ng-class="{loading: loadingData}">
    <!-- Basic task info -->
    <h3 ng-show="task.id"> Basic Info </h3>
    <div class="ui divider" ng-show="task.id"></div>
    <div class="fields" ng-show="task.id">
        <div class="field" style="width: 10%;">
            <div class="ui large label" style="margin-right: 10px;">
                ID:
            </div>
            {{task.id}}
        </div>
        <div class="field" style="width: 20%;">
            <div class="ui large label" style="margin-right: 10px;">
                Creator:
            </div>
            {{task.creator}}
        </div>
        <div class="field" style="width: 20%;">
            <div>
                <div class="ui large label" style="margin-right: 10px;">
                    Status:
                </div>
                <div class="ui large label" ng-class="{green: task.status == 3 && task.errorsCount == 0, red: task.status == 3 && task.errorsCount > 0, yellow: task.status == 2, grey: task.status == 0, teal: task.status == 1}">
                    {{status[task.status]}}
                </div>
            </div>
        </div>
        <div class="field" style="width: 15%;">
            <div class="ui large label" style="margin-right: 10px;">
                Errors Count:
            </div>
            {{task.errorsCount}}
        </div>
        <div class="field" style="width: 25%;">
            <div class="ui large label" style="margin-right: 10px;">
                Time:
            </div>
            {{task.time}}
        </div>
        <div class="field" align="right" style="width: 20%;">
            <button class="ui button blue" ng-click="loadTask()" ng-disabled="savingTask || editingTask">
                Refresh
            </button>
            <button class="ui button red" ng-click="restartTask()" ng-show="userData.userAccount == task.creator" ng-disabled="task.status == 2 || task.status == 1 || savingTask || editingTask">
                Restart
            </button>
        </div>
    </div>
    <!-- Task configuration -->
    <h3 style="margin-top: 0px;"> Configuration </h3>
    <div class="ui divider"></div>
    <div class="fields">
        <div class="field" style="width: 25%;">
            <div class="ui labeled input">
                <div class="ui label">
                    Tag:
                </div>
                <div class="ui search selection dropdown tags tasks-id" ng-class="{loading: loadingTags, disabled: loadingTags || savingTask || !editingTask}">
                    <input type="hidden" name="tag">
                    <i class="dropdown icon"></i>
                    <div class="default text">default</div>
                    <div class="menu">
                        <div class="item" ng-repeat="t in tags" data-value="{{t.id}}">{{t.name}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field" style="width: 25%;">
            <div class="ui labeled input">
                <div class="ui label">
                    Errors Limit:
                </div>
                <div class="ui search selection dropdown errors-limit" ng-class="{disabled: savingTask || !editingTask}">
                    <input type="hidden" name="errors limit">
                    <i class="dropdown icon"></i>
                    <div class="default text">1</div>
                    <div class="menu">
                        <div class="item" data-value="1">1</div>
                        <div class="item" data-value="5">5</div>
                        <div class="item" data-value="10">10</div>
                        <div class="item" data-value="50">50</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="field" style="width: 20%;">
            <div class="ui labeled input">
                <div class="ui label">
                    Type:
                </div>
                <div style="line-height: 36px;">
                    <label style="margin-left:10px; margin-right: 10px;">Text</label>
                    <div id="type-selector" class="ui toggle checkbox">
                        <input type="checkbox" name="type" ng-model="task.type" ng-true-value="1" ng-false-value="0" ng-disabled="task.id">
                        <label>Service</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="field" align="right" style="width: 30%;">
            <button class="ui button green" ng-click="editTask()" ng-hide="editingTask || userData.userAccount != task.creator" ng-disabled="savingTask || loadingTags">
                Edit
            </button>
            <button class="ui button green" ng-click="saveTask()" ng-show="editingTask" ng-disabled="savingTask || loadingTags">
                Save
            </button>
            <button class="ui button gray" ng-click="fetchTask()" ng-show="editingTask" ng-disabled="savingTask || loadingTags">
                Reset
            </button>
        </div>
    </div>
    <!-- Service info -->
    <div class="field" ng-show="task.type">
        <div class="two fields">
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">
                        Address 1:
                    </div>
                    <input type="text" ng-model="task.address1" ng-disabled="savingTask || !editingTask">
                </div>
            </div>
            <div class="field">
                <div class="ui labeled input">
                    <div class="ui label">
                        Address 2:
                    </div>
                    <input type="text" ng-model="task.address2" ng-disabled="savingTask || !editingTask">
                </div>
            </div>
        </div>
        <div class="field">
            <div class="ui large label">
                Requests:
            </div>
            <div class="ui checkbox">
                <input type="checkbox" checked="" ng-model="task.useFile" ng-disabled="savingTask || !editingTask">
                <label>Use File</label>
            </div>
            <button class="ui button green small" style="margin-left: 100px;" ng-click="getUploadScript()">
                Get upload script
            </button>
            {{scriptUsage}}
            <input type="text" placeHolder="Task ID, empty for current task" ng-model="task.fileId" ng-disabled="savingTask || !editingTask || !task.useFile">
            <textarea ng-model="task.requests" placeHolder="Requests" ng-disabled="savingTask || !editingTask || task.useFile"></textarea>
        </div>
    </div>
    <!-- Text info -->
    <div class="field" ng-hide="task.type">
        <div class="two fields">
            <div class="field">
                <div class="ui large label">
                    Text 1:
                </div>
                <textarea ng-model="task.text1" ng-disabled="savingTask || !editingTask"></textarea>
            </div>
            <div class="field">
                <div class="ui large label">
                    Text 2:
                </div>
                <textarea ng-model="task.text2" ng-disabled="savingTask || !editingTask"></textarea>
            </div>
        </div>
    </div>
    <!-- Errors table -->
    <h3 ng-show="task.id" style="margin-top: 0px;"> Errors </h3>
    <div class="ui divider" ng-show="task.id"></div>
    <table class="ui selectable celled table" ng-show="task.id">
        <thead>
            <tr>
                <th style="width: 10%;">Error ID</th>
                <th style="width: 15%;">Time</th>
                <th style="width: 40%;">Input</th>
                <th style="width: 35%;">Message</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="e in task.errors">
                <td> {{e.id}}</td>
                <td>{{e.time}}</td>
                <td>
                    <div class="ui input transparent">
                        <input type="text" value="{{e.input}}" disabled="disabled">
                    </div>
                </td>
                <td>
                    {{e.message}}
                    <a style="color: inherit; float: right;" ng-href="/errors/{{e.id}}">
                        <i class="chevron right icon"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- Scripts after loading -->
<script>
$(document).ready(function($) {
    $(".ui.dropdown")
        .dropdown();
});
</script>
